# licensecheck is wrong here, the license is LGPL3+|GPL2+ not LGPL.
# d/copyright      | licensecheck
# LGPL-3+ or GPL-2+| LGPL              lib/idna.c
# LGPL-3+ or GPL-2+| LGPL              java/src/main/java/gnu/inet/encoding/IDNA.java
# LGPL-3+ or GPL-2+| LGPL              csharp/IDNA.cs
# LGPL-3+ or GPL-2+| LGPL              windows/include/config.h
csharp/
csharp/generate/
java/LICENSE-2.0.txt
java/src/main/java/gnu/inet/encoding/
java/src/test/java/gnu/inet/encoding/
java/src/test/java/gnu/inet/encoding/caliper/
java/src/util/java/
lib/
windows/include/
# Other false positives - please look into these and file bug reports
# on licensecheck/licenserecon as appropriate.
# FSFAP            | FSFAP and/or GPL  FAQ
# FSFAP-no-warranty| FSFAP             m4/ax_java_options.m4
# FSFAP-no-warranty| FSFAP             m4/ax_prog_jar.m4
# GPL-2+-Autoconf-Archive| GPL-2+ with Autoconf-2.0~Archive exception m4/ax_prog_javac.m4
# GPL-2+-Autoconf-Archive| GPL-2+ with Autoconf-2.0~Archive exception m4/ax_prog_javac_works.m4
# FSFAP-no-warranty| FSFAP             m4/ax_prog_javadoc.m4
FAQ
m4/
